.hr{
    border-top: 8px solid rgb(255, 255, 255);
    margin: 0% 5% 0% 5%;
    z-index:1;
    }
    
    

    .footer a,
    .footer a:link,
    .footer a:active,
    .footer a:visited,
    .footer a:focus,
    .footer a:hover {
      color: #000; /* Добавлено: установка цвета текста для ссылок в основном состоянии */
      outline: none;
      text-decoration: none;
      border: none;
      padding: 10px 20px;
    }
    
    .footer.dark_mode {
      background-color: rgba(65, 65, 135, 0.3);
      color: white;
    }
    
    .footer.dark_mode a,
    .footer.dark_mode a:link
    {
      color: white; 
      outline: none;
      text-decoration: none;
      border: none;
      padding: 10px 20px;
    }
   
    .footer {
      background-color: rgba(193, 193, 245, 0.5);
      color: #000; 
      font-weight: bold;/* Добавлено: установка цвета текста для ссылок в основном состоянии */
    }
    
    
    
    @media screen and (max-width: 768px) {
    .hr{
    border-top: 4px solid rgb(255, 255, 255);
    }
    .footer{
    font-size: 14px;
     margin: 2% 0% 0% 0%;
     padding: 5% 0 5% 0;
    }
    .ikit{
    width: 60%;
     margin: 2% 15% 2% 2%;
    }
    }