.body{
    background: #DDDDF2;
    overflow-y: auto;
     position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
    }
    .card{
      padding: 20px;
      background-color: #ffffff;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
      
  }
  .container{
    margin: 2% 12% 3% 12%;
  }