.block_info {
    background-color: #F8F5F5;
    border-radius: 20px;
    padding: 1% 2%;
    margin: 0 5%;
    }

.block_info.dark_mode {
        background-color: #555555;
        border-radius: 20px;
        padding: 1% 2%;
        margin: 0 5%;
        }